<link rel="stylesheet" href="styles/todo.css" media="screen" title="no title" charset="utf-8">
<!-- client-side Handlebars rendering: use backslash in front of opening angle brackets -->
<!-- http://tilomitra.com/handlebars-on-the-server-and-client/ -->

<script type="text/x-handlebars" data-template-name="todos">
    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            \{{input type="text" id="new-todo" placeholder="What needs to be done?" value=newTitle enter="createTodo"}}
        </header>

        <section id="main">
            \{{outlet}}
            \{{input type="checkbox" id="toggle-all" checked=allAreDone}}
        </section>

        <footer id="efooter">
            <span id="todo-count">
                <strong>\{{remaining}}</strong> \{{inflection}} left
            </span>
            <ul id="filters">
                <li>
                    \{{#link-to "todos.index" activeClass="selected"}}All\{{/link-to}}
                </li>
                <li>
                    \{{#link-to "todos.active" activeClass="selected"}}Active\{{/link-to}}
                </li>
                <li>
                    \{{#link-to "todos.completed" activeClass="selected"}}Completed\{{/link-to}}
                </li>
            </ul>

            \{{#if hasCompleted}}
                <button id="clear-completed" \{{action "clearCompleted"}}>
                    Clear completed (\{{completed}})
                </button>
            \{{/if}}
        </footer>
    </section>
    <footer id="info">
        <p>Double-click to edit a todo</p>
    </footer>
</script>

<script type="text/x-handlebars" data-template-name="todos/index">
    <ul id="todo-list">

    \{{#each model as |todo|}}
    <li class="\{{if todo.isCompleted 'completed' if todo.isEditing 'editing'}}">
        \{{#if todo.isEditing}}
            \{{edit-todo class="edit" value=todo.title focus-out="acceptChanges" insert-newline="acceptChanges"}}
        \{{else}}
            \{{input type="checkbox" checked=todo.isCompleted class="toggle"}}
            <label \{{action "editTodo" on="doubleClick"}}>\{{todo.title}}</label><button \{{action "removeTodo"}} class="destroy"></button>
        \{{/if}}
    </li>
    \{{/each}}
    </ul>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <!-- 2.1.4 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script> <!-- 2.0.0 -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/ember.js/1.13.9/ember-template-compiler.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ember.js/1.13.9/ember.min.js"></script> <!-- 1.13.9 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ember-data.js/1.13.11/ember-data.min.js"></script> <!-- 1.13.11 -->
<script src="ember-localstorage-adapter/localstorage_adapter.js"></script> <!-- 0.5.4 -->

<script src="scripts/todo/application.js"></script>
<script src="scripts/todo/router.js"></script>
<script src="scripts/todo/models/todo.js"></script>
<script src="scripts/todo/controllers/todos-controller.js"></script>
<script src="scripts/todo/controllers/todo-controller.js"></script>
<script src="scripts/todo/views/edit-todo-view.js"></script>
