{{addStylesheet "https://cdnjs.cloudflare.com/ajax/libs/fluidbox/1.4.3.1/css/fluidbox.css"}}
{{addStylesheet "stylesheets/react.css"}}
<div class="react">
    {{{imageList}}}
</div>
<script id="images" type="application/json">
    {{{ jsonifiedImages }}}
</script>
{{addScript "node_modules/jquery/dist/jquery.js"}}
{{addScript "node_modules/fluidbox/jquery.fluidbox.min.js"}}
{{addScript "scripts/photos/photos-lib.js"}}
{{addScript "scripts/photos/photos-browser.js"}}
