{{addStylesheet "node_modules/leaflet/dist/leaflet.css"}}
{{addStylesheet "stylesheets/sfdata.css"}}

<div class="page-header">
    <h1>Eviction Notices (Using Backbone, OpenStreetMap, Leaflet)</h1>
</div>

{{addScript "node_modules/jquery/dist/jquery.js"}}
{{addScript "node_modules/underscore/underscore-min.js"}}
{{addScript "node_modules/backbone/backbone-min.js"}}
{{addScript "node_modules/leaflet/dist/leaflet.js"}}
{{addScript "scripts/sfdata/app.min.js"}}
